.jumbotron{
	background-image: url("Images/home.jpg"); 
	background-size: cover;
	background-position-y: bottom;
	padding-top: 18.5em;
}

.address{
	color: #759aab;
}

.phone, .address{
	font-size: 12px;
	text-align: right;
	margin-top: 4px;
	padding: 0px;
}

.jumbotron h1, .jumbotron h4{
	color: #fff;
	text-shadow: 0 2px 15px #3f4956;
	text-align: center;
}

.jumbotron h1{
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 24px;
}

.jumbotron h4{
	font-size: 30px;
	margin-bottom: 6em;
}

.card-deck{
	margin-bottom: 40px;
	
}

.card-title{
	padding: 24px;
	font-weight: 700;
	font-size: 20px;
}

.partner-card{
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 24px;
	background-color: #F2F2F2;
}

section h3{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 24px;
	padding: 30px;
}

.carousel{
	margin-bottom: 24px;
}

.carousel .carousel-indicators li.active {
	width: 14px;
	height: 14px;
	background: url(Images/active-indicator.svg) no-repeat;
}

 .carousel li{
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin-top: 1px;
	
}

section.partners .carousel li{
	background-color: #3f4956;
}


section.testmonials .carousel li, section.contact, section.partners{
	background-color: #fff;
}

body{
	background-color: #fff;
}

section.expertise-areas, section.header{
	background-color: #EFF5F5;
}

section.testmonials h3{
	color: #fff;
}

section.testmonials{
	background-color: #3f4956;
	margin-bottom: 24px;

}


section.testmonials .card{
	padding-top: 24px;
	padding-right: 56px;
	padding-bottom: 24px;
	padding-left: 56px;
	text-align: center;
	margin-bottom: 50px;	
}


section.testmonials .card-title{
	color: #00e88b;
	font-size: 18px;
}


section.testmonials .card p{
	font-size: 12px;
}

.sidebar{
	background-color: hsla(0,0%,100%,.8);
	margin-top: 6em;
}

section h4{
	font-size: 15px;
    color: #707070;
    font-weight: 400;
    margin-bottom: 34px;
    line-height: 1.5;
    text-align: center;
    max-width: 33.33%;
    margin-left: 33.33%;
}


.btn-primary{
	background: linear-gradient(185deg,#3f4956,#191e24 110%);
    color: #00e88b;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 20px;
    border: 0;

}

.btn{
	max-width: 200px;	
}

section.content-banner{
	background-color: rgba(216,229,229,.4);
}

section.content-banner .card{
	background-color: rgba(0,232,138,.7);
	height: 258px;
	clip-path: polygon(0 45%,100% 0,100% 100%,0 100%);
}

section.content-banner h1{
	margin: 0;
    font-size: 80px;
    color: rgba(63,73,86,.77);
    font-weight: 700;
}

section{
	margin-bottom: 30px;
}

section.footer{
	margin-bottom: 0px;
}

section.footer .navbar-text, section.footer a, section.footer p{
	color: #00e88b !important;
	
}

section.footer .navbar-text.sideFooter{
	color: #3f4956!important;
}

section.footer .navbar{
	background: #00e88b;
	font-size: 15px;
	padding: 0px;
}

section.footer .navbar-text.subtext{
	font-weight: 400;
    font-size: 12px;
}


@media only screen and (min-width: 768px) {
	section.footer .nav{
		flex-direction: column;
	}

	section.testmonials .card{
		margin-right:15%;
		margin-left: 15%;
	}


}




